<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue app</title>
</head>
<body>
    <div id="app">
        <h1>Vue Market</h1>
        
        <h2>Panier</h2>
        <ul>
            <li>Pommes: {{ costOfApples }} euros</li>
            <li>Bananes: {{ costOfBananas }} euros</li>
            <li>Noix de coco: {{ costOfCoconuts }} euros</li>
        </ul>
        <p><b>Total:</b> {{ totalAmount }} euros</p>

        <h3>Horaires d'ouverture</h3>
        <p>Du lundi au samedi: 10h - 19h<br/>Dimanche: fermé</p>
    </div>
<script src="vue.min.js"></script>
<script>
    console.log(Vue);
    const app = new Vue({
        el: '#app',
        data: {
            costOfApples: 6,
            costOfBananas: 2,
            costOfCoconuts: 10
        },
        computed: {
            totalAmount(){
                return this.costOfApples + this.costOfBananas + this.costOfCoconuts
            }
        }
    })
</script>
</body>
</html>